@import '../styles/index.scss';

.champs_grid {
  @include breakpoints(sm) {
    max-width: 100%;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  max-width: 80%;
  max-height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  // grid-template-columns: repeat(7, 1fr) !important;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 80px;
}

