@font-face {
  font-family: "Beaufort for LOL";
  src: url("../fonts/BeaufortforLOL-BoldItalic.ttf");
  src: url("../fonts/BeaufortforLOL-Bold.ttf");
}

h2 {
    color: #C28F2C;
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
    font-family: "Beaufort for LOL" ;
}

.linea-divisora {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .linea-divisora::before,
  .linea-divisora::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    margin: 0 5px;
    background-color: #C28F2C;
  }



hr {
    border: 2px solid #C28F2C;
    background: #C28F2C;
    opacity: 1;
}


