@font-face {
    font-family: "Beaufort for LOL";
    src: url("../fonts/BeaufortforLOL-BoldItalic.ttf");
    src: url("../fonts/BeaufortforLOL-Bold.ttf");
}

body{
    background-color: rgb(25, 26, 26) !important;
}


 
.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding-bottom: 40px;

    &_title {
        margin-bottom: 30px;
        font-size: 120px;
        font-family: "Beaufort for LOL", sans-serif;
        font-style: italic;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #C28F2C !important;

        @media (max-width: 768px) {
            font-size: 60px;
        }
    }

    &_title1 {
        margin-top: 90px;
        font-size: 24px;
        font-family: "Beaufort for LOL", sans-serif;
        font-style: italic;
        letter-spacing: 2px;
        text-transform: uppercase;

        @media (max-width: 768px) {
            font-size: 16px; 
        }
    }

    &_subtitle {
        font-size: 16px;
        font-family: "Beaufort for LOL", sans-serif;
        font-weight: 100;
        text-align: center;
        width: 20%;
        margin-bottom: 50px;

        @media (max-width: 768px) {
            font-size: 12px; 
            width: 50%; 
        }
    }
}
