.bg-Tirador {
    background-color: #484C33 !important;
}
.bg-Tanque {
    background-color: #6D7A93 !important; 
}
.bg-Mago {
    background-color: #3944DB !important;
}
.bg-Asesino {
    background-color: #AE1B27 !important;
}
.bg-Luchador {
    background-color: #C28F2C !important;
}
.bg-Soporte {
    background-color: #2DA7B0 !important;
}
.bg-Default {
    background-color: gray !important;
}
