@import '../styles/index.scss';

@font-face {
    font-family: "Beaufort for LOL";
    src: url("../fonts/BeaufortforLOL-Regular.ttf")
}

@include breakpoints(sm){

    .tips h4{
        text-align: center;
    }

}



.tips{
    width: 100%;
    max-width: 1215px;
    padding: 15px;
}

.tips h4{
    font-family: "Beaufort for LOL";
    font-weight: 600;
}

.tips ul li {
    font-family: "Beaufort for LOL";
    font-size: 18px;
    margin: 5px;
}

.ally{
    color: green;
}

.enemy{
    color: rgb(190, 0, 0);
}





